@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* 다크 모드 */
/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
  color: #302e2e;
  background: #f9f6f5;
  overflow-x: hidden;
  width: 100vw;
  justify-content: center;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.max-w-responsive {
  width: 100%;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 641px) and (max-width: 768px) {
  .max-w-responsive {
    max-width: 640px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .max-w-responsive {
    max-width: 768px;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1280px) {
  .max-w-responsive {
    max-width: 1000px;
  }
}

@media screen and (min-width: 1281px) {
  .max-w-responsive {
    max-width: 1000px;
  }
}
